@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/*.warning -> 클래스 셀렉터
#list -> id 셀렉터
*/
.App {
  display: flex;
  height: 100vh;
}
img {
  display: inline-block;
  width: 65%;
  height: 100vh;
  background: #eff0f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 50%;
  margin: 100px;
  padding-top: 90px;
  float: right;

  /* left: 50%; */

  background-color: white;
}

#info {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.blank {
  padding-top: 140px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.input-set {
  /* height: 25vh; */
}

.bar {
  margin: auto;
  border-radius: 2px;
  border-bottom: solid 2px #00a3ff;
  font-family: "Roboto", sans-serif;
  width: 350px;
}

input {
  /* background: none; */

  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  line-height: 45px;
  padding-left: 10px;
  margin: auto;
  /* width:00px; */
}
#span {
  float: right;
  margin: auto;
  font-weight: 500;
}
#or {
  font-size: 14px;
}
#sign {
  font-size: 14px;
  color: #00a3ff;
  /* float: right; */
  margin: auto;
}
.button-set {
  padding-top: 150px;
  overflow: auto;
  /* padding-top: 140px;
  padding-left:70px; */
  margin: auto;
  display: block;
  height: 50.8vh;
  /* max-width: 100%;
  max-height: 10%; */
  /* background-color: #00a3ff; */
}
#bt {
  margin: auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
  border: none;
  background-color: #00a3ff;
  padding: 0px 0px;
  color: #ccedff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 250px;
  height: 60px;
}
.button-set a {
  width: 250px;
  height: 65px;
}
.button-set img {
  overflow: auto;
  width: 250px;
  height: 65px;
  margin: auto;
}
